<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/about.css" />
</head>

<body>
   <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#" class="logo">Skywings</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="welcome.html">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#tour">TOUR</a></li>
        <li><a href="#package">PACKAGE</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="login.html">LOGIN</a></li>
        <li><a href="#">BOOK TRIP</a></li>
      </ul>
      <div class="nav__btns">
        <button class="btn"><a href="book.html">BOOK TRIP</a></button>
      </div>
    </nav>


    <section class="section_container plan_container">
        <p class="subheader">TRAVEL SUPPORT</p>
        <h2 class="section_header">Plan your travel with confidence</h2>
        <p class="description">Find help with your booking and travel plans, and see what to expext along your journey,
        </p>
        <div class="plan_grid">
            <div class="plan_content">
                <span class="number">01</span>
                <h4>Travel Requirements for Dubai</h4>
                <p>
                    Stay informed and prepared for your trip to Dubai with essential travel requirements, ensuring a
                    smooth and hassle-free experience in this vibrant and captivating city.
                </p>
                <span class="number">02</span>
                <h4>Multi-risk travel insurance</h4>
                <p>
                    Comprehensive protection for your peace of mind, covering a range of
                    potential travel risks and unexpected situations.
                </p>
                <span class="number">03</span>
                <h4>Travel Requirements by destinations</h4>
                <p>
                    Stay informed and plan your trip with ease, as we provide up-to-date
                    information on travel requirements specific to your desired
                    destinations.
                </p>
            </div>
            <div class="plan_image">
                <img src="/img/plan-1.jpg" alt="">
                <img src="/img/plan-2.jpg" alt="">
                <img src="/img/plan-3.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="memories">
        <div class="section_container memories_container">
            <div class="memories_header">
                <h2 class="section_header">
                    Travel to make memories all around the world
                </h2>
                <button class="view_all">
                    View All
                </button>
            </div>
            <div class="memories_grid">
                <div class="memories_card">
                    <span><i class="ri-calendar-2-line"></i></span>
                    <h4>Book & Relax</h4>
                    <p>With "Book and Relax", you can sit back, unwind, and enjoy the journey while we take care of
                        everything else.</p>
                </div>
                <div class="memories_card">
                    <span><i class="ri-shield-check-line"></i></span>
                    <h4>Smart CheckList</h4>
                    <p>Introducing Smart CheckList with us, the innovative solution revolutionizing the way you travel
                        with our airline.</p>
                </div>
                <div class="memories_card">
                    <span><i class="ri-bookmark-2-line"></i></span>
                    <h4>Save More</h4>
                    <p>From discounted ticket prices to exclusive promotions and deals we priortize affordability
                        without compromising the quality.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section_container lounge_container">
        <div class="lounge_image">
            <img src="/img/plan-1.jpg" alt="i1">
            <img src="/img/plan-2.jpg" alt="i2">
        </div>
        <div class="lounge_content">
            <h2 class="section_header">Unaccompained Minor Lounge</h2>
            <div class="lounge_grid">
                <div class="lounge_details">
                    <h4>Experience Tranquility</h4>
                    <p>Serenity Haven offers a tranquil escape, featuring comfortable seating, calming ambiance, and
                        attentive service.</p>
                </div>
                <div class="lounge_details">
                    <h4>Elevate Your Experience</h4>
                    <p>Designed for discerning travellers, this exclusive lounge offers premium amenities, assistance,
                        and private workspace.</p>
                </div>
                <div class="lounge_details">
                    <h4>A Welcoming Space</h4>
                    <p>Creating a family-friendly atmosphere, The Family Zone is the perfect haven for parents and
                        children.</p>
                </div>
                <div class="lounge_details">
                    <h4>A Culinary Delights</h4>
                    <p>Imerse yourselg in a world of flavors, offering international cuisines, gourmet dishes, and
                        carefully curated beverages.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section_container travellers_container">
        <h2 class="section_header">Best travellers of month</h2>
        <div class="travellers_grid">
            <div class="travellers_card">
                <img src="/img/traveller-2.jpg" alt="traveller">
                <div class="travellers_card_content">
                    <img src="/img/client-1.jpg" alt="client">
                    <h4>Riya Rai</h4>
                    <p>Paris</p>
                </div>
            </div>
            <div class="travellers_card">
                <img src="/img/traveller-1.jpg" alt="traveller">
                <div class="travellers_card_content">
                    <img src="/img/client-2.jpg" alt="client">
                    <h4>William Shopsky</h4>
                    <p>Dubai</p>
                </div>
            </div>
            <div class="travellers_card">
                <img src="/img/traveller-2.jpg" alt="traveller">
                <div class="travellers_card_content">
                    <img src="/img/client-1.jpg" alt="client">
                    <h4>Emilly Sen</h4>
                    <p>Malasiya</p>
                </div>
            </div>
            <div class="travellers_card">
                <img src="/img/traveller-1.jpg" alt="traveller">
                <div class="travellers_card_content">
                    <img src="/img/client-2.jpg" alt="client">
                    <h4>Manish Rawal</h4>
                    <p>Singapore</p>
                </div>
            </div>
        </div>
    </section>

 <footer id="contact">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="footer__logo">
            <a href="#" class="logo">Skywings</a>
          </div>
          <p>
            Explore the world with ease and excitement through our comprehensive
            travel platform. Your journey begins here, where seamless planning
            meets unforgettable experiences.
          </p>
          <ul class="footer__socials">
            <li>
              <a href="#"><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-instagram-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-youtube-line"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Quick Links</h4>
          <ul class="footer__links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Flights</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Cruise</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Contact Us</h4>
          <ul class="footer__links">
            <li>
              <a href="#">
                <span><i class="ri-phone-fill"></i></span> +91 9876543210
              </a>
            </li>
            <li>
              <a href="#">
                <span><i class="ri-record-mail-line"></i></span> info@skywings
              </a>
            </li>
            <li>
              <a href="#">
                <span><i class="ri-map-pin-2-fill"></i></span> New Delhi, India
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Subscribe</h4>
          <form action="/">
            <input type="text" placeholder="Enter your email" />
            <button class="btn">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024 Web Design Mastery. All rights reserved.
      </div>
    </footer>

</body>

</html>